@using DoAn_Auction.Helpers;
@section title
{
    Đăng đấu giá
}
@section css
{
    <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="~/assets/kartik-bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />

    <style type="text/css">
        /*#lblTimeEnd{
            display:block;
        }
        #txtTimeEnd {
            display:inline;
        }
        .p{
            display:inline;
            float: none;
        }*/
    </style>
}
@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/tinymce/tinymce.min.js"></script>
    <script src="~/assets/bootstrap.file-input.js"></script>
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script src="~/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/mimity.js"></script>
    <script src="~/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="~/assets/kartik-bootstrap-fileinput/js/fileinput.js"></script>
<script src="~/assets/kartik-bootstrap-fileinput/themes/fa/theme.js"></script>
<script src="~/assets/kartik-bootstrap-fileinput/themes/fa/theme.min.js"></script>

    <script>
        //$('input[type=file]').bootstrapFileInput();

        tinymce.init({
            selector: '#txtFullDes',
            menubar: false,
            toolbar: "styleselect | bold italic | link image | alignleft aligncenter alignright | bullist numlist | fontselect | fontsizeselect | forecolor backcolor",
            plugins: 'link image textcolor',
            encoding: "xml"
        });
        $('#txtPriceStarting').TouchSpin({
            verticalbuttons: true,
            min: 20000,
            max: 1000000000,
            step: 1000,
            initval: 20000,
            postfix: 'VND'
        });
        $('#txtPriceBuy').TouchSpin({
            verticalbuttons: true,
            min: 20000,
            max: 1000000000,
            step: 1000,
            initval: 20000,
            postfix: 'VND'
        });
        $('#txtStep').TouchSpin({
            verticalbuttons: true,
            min: 5000,
            max: 1000000000,
            step: 1000,
            initval: 10000,
            postfix: 'VND'
        });
        $('#txtQuantity').TouchSpin({
            verticalbuttons: true,
            min: 1,
            max: 1000,
            step: 1,
            initval: 1,
        });
        $('#txtRequired').TouchSpin({
            verticalbuttons: true,
            min: 1,
            max: 100,
            step: 1,
            initval: 50,
            postfix: '%'
        });
        $('#txtTimeEnd').TouchSpin({
            verticalbuttons: true,
            min: 1,
            max: 15,
            step: 1,
            initval: 3,
            postfix: 'ngày kể từ ngày đăng '
        });

        //Upload picture
        $("#input-main").fileinput({
            theme: "fa",
            maxFileSize: 2048,
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
        });
        $("#input-fa").fileinput({
            theme: "fa",
            maxFileSize: 2048,
            maxFileCount: 3,
            uploadUrl: "/file-upload-batch/2",
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
        });
    </script>
}

<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Trang chủ</a></li>
            <li class="active">Đấu giá</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
@if (CurrentContext.GetCurUser().f_Level < 2)
{
    if (ViewBag.CheckSelling == "1")
    {
        <div class="container m-t-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="title"><span>Đăng ký đăng bán sản phẩm</span></div>
                    <form method="post">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="alert alert-warning">
                                    <strong>Warning! </strong>Yêu cầu của bạn đang chờ duyệt, vui lòng quay lại sau.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.CheckSelling==null)
    { 
    <div class="container m-t-3">
        <div class="row">
                <div class="col-md-9">
                    <div class="title"><span>Đăng ký đăng bán sản phẩm</span></div>
                    <form method="post" action="@Url.Action("RegisterSelling","Auction")">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="alert alert-warning">
                                    <strong>Warning! </strong>Bạn chưa đăng ký đăng bán sản phẩm với chúng tôi
                                </div>
                                <p>Nhấn nút đăng ký bạn sẽ được đăng bán sản phẩm trong 7 ngày</p>
                                <button type="submit" class="btn btn-default btn-theme"><i class="fa fa-check"></i> Đăng ký đăng bán </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    }
}
else
{
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">
        @if (ViewBag.ErrorMsg == null)
        {
            ViewBag.ErrorMsg = TempData["ErrorMsg"];
            TempData["ErrorMsg"] = null;
        }
        @if (@ViewBag.ErrorMsg != null)
        {
            <div class="form-group col-md-12 ">
                <div class="alert alert-warning">
                    <strong>Warning! </strong>@ViewBag.ErrorMsg
                </div>
            </div>
        }
        @if (@ViewBag.Success != null)
        {
            <div class="form-group col-md-12 ">
                <div class="alert alert-success">
                    @ViewBag.Success
                </div>
            </div>
        }
        <!-- Checkout Form -->
        <div class="col-md-9">
            <div class="title"><span>Đăng đấu giá mới</span></div>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="txtProName">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="txtProName" placeholder="Tên sản phẩm" name="ProName">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="cboCatID">Loại sản phẩm</label>
                        <select class="form-control selectpicker" id="cboCatID" data-live-search="true" name="CatID">
                            @*<option value=""> --- Please Select --- </option>*@
                            @foreach (var cat in ViewBag.Parent)
                            {
                                <optgroup label="@cat.CatName">
                                    @foreach (var cat_child in cat.Categories)
                                    {
                                        <option value="@cat_child.CatID">@cat_child.CatName</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtPriceStarting">Giá khởi điểm</label>
                        <input type="text" class="form-control" id="txtPriceStarting" placeholder="Giá khởi điểm" name="PriceStarting">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtPriceBuy">Giá mua ngay</label>
                        <input type="text" class="form-control" id="txtPriceBuy" placeholder="Giá mua ngay" name="PriceBuy">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtStep">Bước giá</label>
                        <input type="text" class="form-control" id="txtStep" placeholder="Bước giá" name="Step">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtQuantity">Số lượng</label>
                        <input type="text" class="form-control" id="txtQuantity" placeholder="Số lượng" name="Quantity">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtRequired">Yêu cầu rating</label>
                        <input type="text" class="form-control" id="txtRequired" placeholder="Yêu cầu về điểm rating của người đấu giá" name="Required">
                    </div>
                    <div class="form-group col-sm-6">
                        <label id="lblTimeEnd" for="txtTimeEnd">Thời gian kết thúc</label>
                        <input type="text" class="form-control form-inline" id="txtTimeEnd" placeholder="5" name="TimeEnd">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="addressInput">Mô tả chi tiết</label>
                        <textarea class="form-control" rows="3" id="txtFullDes" name="FullDes"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label">Hình đại diện</label>
                        <input id="input-main" name="mainPic" type="file" class="file">
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label">Hình chi tiết</label>
                        <input id="input-fa" name="subPic" type="file" multiple class="file-loading">
                    </div>

                    <div class="form-group col-sm-6" hidden="hidden">
                        <label for="txtPriceStarting">ID</label>
                        <input type="text" class="form-control" id="txtProID" placeholder="ID" name="ProID">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtPriceStarting">Tự động gia hạn</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Adjourning"><span>khi có lượt đấu giá mới trước khi kết thúc 5 phút, sản phẩm tự động gia hạn thêm 10 phút</span>
                            </label>
                        </div>
                    </div>
                </div>
                <nav aria-label="Checkout Next Navigation">
                    <ul class="pager">
                        <li class="previous"><a href="@Url.Action("Index","Home")"><span aria-hidden="true">&larr;</span>Về trang chủ</a></li>
                        <li><button type="submit" class="btn btn-theme"><i class="fa fa-check"></i> Đăng sản phẩm</button></li>
                        <li class="next"><a href="@Url.Action("Index","Product")">Danh sách sản phẩm<span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </form>
        </div>
        <!-- End Checkout Form -->
    </div>
</div>
<!-- End Main Content -->
}
