@using DoAn_Auction.Models
@model List<Auction>
@section title
{
    Search
}

@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.css" rel="stylesheet" />
    <link href="~/assets/css/menucate.css" rel="stylesheet" />
    <link href="~/assets/css/nouislider.css" rel="stylesheet" />
}

@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/mimity.js"></script>
    <script src="~/assets/js/nouislider.js"></script>
}


<!-- Main Content -->
<div class="container m-t-2">
    <div class="row">

        <!-- New Arrivals & Best Selling -->
        <div class="col-md-3 m-b-1">
            <div class="navbar-vertical">
                <div class="header title"><span>Categories <i class="fa fa-navicon pull-right"></i></span></div>
                @Html.Action("List", "Category")
            </div><!-- end navbar-vertical -->

        </div>
        <!-- End New Arrivals & Best Selling -->

        <div class="clearfix visible-sm visible-xs"></div>

        <div class="col-md-9">

            <!-- Featured -->
            <div class="title"><span>Kết quả</span></div>
            <!-- Product Sorting Bar -->
            <div class="product-sorting-bar">
                <div>
                    Sort By
                    <select name="sortby" class="selectpicker" data-width="180px">
                        <option value="recomended">Recomended</option>
                        <option value="low">Low Price &raquo; High Price</option>
                        <option value="hight">High Price &raquo; High Price</option>
                    </select>
                </div>
                <div>
                    Show
                    <select name="show" class="selectpicker" data-width="60px">
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                    </select> per page
                </div>
            </div>
            <!-- End Product Sorting Bar -->
            @foreach (var p in Model)
            {
                <div class="col-sm-4 col-md-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="@Url.Action("Detail", "Product", new { id = p.ProID })" data-toggle="tooltip" title="Chi tiết">
                                <img alt="Product" src="~/Images/sp/@p.ProID/main.jpg">
                            </a>
                            @if (Convert.ToDateTime(p.TimeStart).AddHours(2) > DateTime.UtcNow)
                            {
                                <div class="tags tags-left">
                                    <span class="label-tags"><span class="label label-success arrowed-right">New</span></span>
                                </div>
                            }
                            @if (p.PriceBuy > 0 && p.PriceHighest < p.PriceBuy)
                            {
                                <div class="tags tags-right">
                                    <span class="label-tags"><span class="label label-danger arrowed">Mua ngay</span></span>
                                    <span class="label-tags"><span class="label label-primary arrowed">@String.Format("{0:n0}", p.PriceBuy)VNĐ</span></span>
                                </div>
                            }
                            @*<div class="tags">
                                    <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                                </div>*@
                                @*<div class="tags tags-left">
                                        <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                                    </div>*@
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Đấu giá"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Thêm vào so sánh"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Thêm vào yêu thích" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">@p.ProName</a></h6>
                            <div class="price">
                                <div>
                                    <span class="label-tags"><span class="label label-info arrowed-right">Giá hiện tại: </span></span>
                                    @String.Format("{0:n0}", p.PriceCurrent) VNĐ
                                </div>
                                @*<span class="price-old">$15.00</span>*@
                            </div>
                            @*<div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <a href="#">(5 reviews)</a>
                                </div>*@
                        </div>
                    </div>
            }
            <ul class="pagination col-sm-12">
                @if (ViewBag.CurPage == 1)
                {
                    <li class="disabled"><a href="">&laquo;</a></li>
                }
                else
                {
                    <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@(ViewBag.CurPage-1)">&laquo;</a></li>
                }
                @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    if (ViewBag.CurPage == i)
                    {
                        <li class="active"><a href="?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@i">@i</a></li>
                    }
                }
                @*<li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>*@
                @if (ViewBag.CurPage == ViewBag.Pages)
                {
                    <li class="disabled"><a href="">&raquo;</a></li>
                }
                else
                {
                    <li><a href="?Content=@ViewBag.Content&CatID=@ViewBag.CatID&page=@(ViewBag.CurPage+1)">&raquo;</a></li>
                }

            </ul>
            <!-- End Featured -->

            <div class="clearfix visible-sm visible-xs"></div>

        </div>

    </div>

    <!-- Brand & Clients -->
    <div class="row">
        <div class="col-xs-12 m-t-1">
            <div class="title text-center"><span>Brand & Clients</span></div>
            <div class="brand-slider owl-controls-top-offset">
                <div class="brand">
                    <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand & Clients -->

</div>
<!-- End Main Content -->