@using DoAn_Auction.Helpers;

@section title
{
    Profile
}
@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
}
@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>
}
<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">My Profile</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">

        <!-- Account Sidebar -->
        <div class="col-sm-4 col-md-3 m-b-3">
            <div class="account-picture"><img src="images/demo/user.png" alt="" class="img-circle img-responsive"></div>
            <h4 class="text-center m-b-3">John Thor</h4>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="account-profile.html">My Profile</a></li>
                <li role="presentation"><a href="account-address.html">My Address</a></li>
                <li role="presentation"><a href="account-history.html">Order History</a></li>
                <li role="presentation"><a href="account-password.html">Change Password</a></li>
            </ul>
        </div>
        <!-- End Account Sidebar -->
        <!-- My Profile Content -->
        <div class="col-sm-8 col-md-9">
            <div class="title m-b-2"><span>My Profile</span></div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group list-group-nav">
                        <li class="list-group-item">
                            <strong>Userame</strong>
                            <p>@CurrentContext.GetCurUser().f_Username</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Họ tên</strong>
                            <p>@CurrentContext.GetCurUser().f_Name</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Email</strong>
                            <p>@CurrentContext.GetCurUser().f_Email</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Ngày sinh</strong>
                            <p>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", CurrentContext.GetCurUser().f_DOB))</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Địa chỉ</strong>
                            <p>@CurrentContext.GetCurUser().f_Address</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Số điện thoại</strong>
                            <p>@CurrentContext.GetCurUser().f_Phone</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-theme pull-right"><i class="fa fa-pencil"></i> Edit My Profile</a>
                </div>
            </div>
        </div>
        <!-- End My Profile Content -->

    </div>
</div>
<!-- End Main Content -->

