@using BotDetect.Web.Mvc;

@section title
{
    Register
}
@section css
{
    <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .help-clock {
            color: #BD3315;
        }
    </style>
}
@section js
{
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script src="~/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>

    <script type="text/javascript">

        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true
        });

        jQuery.validator.addMethod("UniqueUser", function (value, element) {
            var url = '/Account/IsUsernameUnique/?input=' + value;
            var ret = false;
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                success: function (data) {
                    ret = data;
                    console.log(data);
                }
            });
            if (ret == "True") {
                return true;
            }
            if (ret == "False") {
                return false;
            }
        }, "Username đã tồn tại");
        jQuery.validator.addMethod("UniqueEmail", function (value, element) {
            var url = '/Account/IsEmailUnique/?input=' + value;
            var ret = false;
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                success: function (data) {
                    ret = data;
                    console.log(data);
                }
            });
            if (ret == "True") {
                return true;
            }
            if (ret == "False") {
                return false;
            }
        }, "Email đã tồn tại");
        $('#frmRegister').validate({
            //highlight: function (element) {
            //    var id_attr = "#" + $(element).attr("id") + "1";
            //    $(element).closest('.form-group').addClass('has-error');
            //    $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            //},
            highlight: function (element) {
                //var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                //$(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },

            unhighlight: function (element) {
                //var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error');
                //$(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-clock',
            rules: {
                Username: {
                    required: true,
                    //remote: {
                    //    url: "/Account/IsUsernameUnique/",
                    //    type: "post",
                    //    data: function () {
                    //            return $("#txtUsername").val();
                    //    }
                    //}
                    UniqueUser:true,
                },
                RawPWD: {
                    required: true,
                    minlength: 6
                },
                CPWD: {
                    required: true,
                    equalTo: '#txtPWD'
                },
                Name: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true,
                    UniqueEmail: true,
                },
                DOB: {
                    required: true
                },
                Address:{
                    required: true,
                },
                Phone: {
                    required: true,
                    digits: true,
                    minlength: 9,
                    maxlength:11,
                }
            },

            messages: {
                Username: {
                    required: "Vui lòng nhập username",
                    UniqueUser: "Username đã tồn tại"
                },
                PWD: {
                    required: "Vui lòng nhập mật khẩu",
                    minlength: "Mật khẩu phải tối thiểu 6 kí tự"
                },
                CPWD: {
                    required: "Vui lòng nhập lại mật khẩu",
                    equalTo: "Sai mật khẩu nhập lại"
                },
                Name: {
                    required: "Vui lòng nhập họ tên"
                },
                Email: {
                    required: "Vui lòng nhập email",
                    email: "Email không hợp lệ",
                    UniqueEmail: "Email đã tồn tại"
                },
                DOB: {
                    required: "Vui lòng chọn ngày sinh"
                },
                Address: {
                    required: "Vui lòng nhập đại chỉ",
                },
                Phone: {
                    required: "Vui lòng nhập số điện thoại",
                    digits: "Số điện thoại không hợp lệ",
                    minlength: "Số điện thoại không hợp lệ",
                    maxlength: "Số điện thoại không hợp lệ",
                }
            }
        });
        $("div.alert").delay(4000).slideUp();

        //$('#txtUsername').blur(function () {
        //    var url = "/Account/CheckUserName";
        //    var name = $('#txtUsername').val();
        //    $.get(url, { input: name }, function (data) {
        //        if (data == "Available") {
        //            $("#result").html("<span style='color:green'></span>");
        //            $("#txtUsername").css('background-color', '');
        //        }
        //        else {
        //            $('#txtUsername').closest('.form-group').removeClass('has-success').addClass('has-error');
        //            $("#result").html("<span style='color:#BD3315'>Username đã tồn tại</span>");
        //            //$("#txtUsername").css('background-color', '#e97878');
        //        }
        //    });
        //})
    </script>

}



<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Register</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">
        @if (ViewBag.ErrorMsg == null)
        {
            ViewBag.ErrorMsg = TempData["ErrorMsg"];
            TempData["ErrorMsg"] = null;
        }
        @if (@ViewBag.ErrorMsg != null)
        {
            <div class="form-group col-md-12 ">
                <div class="alert alert-warning">
                    <strong>Warning! </strong>@ViewBag.ErrorMsg
                </div>
            </div>
        }
        @if (@ViewBag.Success != null)
        {
            <div class="form-group col-md-12 ">
                <div class="alert alert-success">
                    @ViewBag.Success
                </div>
            </div>
        }
        <!-- Register Form -->
        <div class="col-sm-6 login-register-form m-b-3">
            <div class="title"><span>Create An Account</span></div>
            <div class="row">
                <form method="post" action="@Url.Action("Register", "Account")" id="frmRegister">
                    <div class="form-group col-sm-12">
                        <label for="txtUsername">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="Username">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="Email">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtPWD">Password</label>
                        <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="RawPWD">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtCPWD">Nhập lại Password</label>
                        <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại Password" name="CPWD">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtName">Họ tên</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Name" name="Name">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtDOB">Ngày sinh</label>
                        <input type="text" class="form-control datepicker" id="txtDOB" placeholder="d/m/yyyy" name="DOB" readonly>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtAddress">Địa chỉ</label>
                        <textarea class="form-control" rows="3" id="txtAddress" name="Address" placeholder="Địa chỉ"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtPhone">Số điện thoại</label>
                        <input type="text" class="form-control" id="txtPhone" placeholder="Ví dụ: 086400522 hoặc 0123456789" name="Phone">
                    </div>
                    <div class="form-group col-sm-12">
                        @*<div class="col-sm-6">*@
                        @{
                            var Captcha = new MvcCaptcha("ExampleCaptcha");
                            Captcha.Reset(); //Important
                        }
                        @Html.Captcha(Captcha)
                        @*</div>*@
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="txtName">Captcha</label>
                        <input type="text" class="form-control" id="txtCaptcha" placeholder="Captcha" name="CaptchaCode">
                    </div>
                    @*<div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"><span> I agree with <a href="#"><u>Terms and Conditions.</u></a></span>
                                </label>
                            </div>
                        </div>*@
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-theme"><i class="fa fa-long-arrow-right"></i> Register</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Register Form -->
        <!-- Login Form -->
      

    </div>
</div>
<!-- End Main Content -->